# .NET build folders
*/bin/
*/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code workspace settings
.vscode/

# NuGet packages
*.nupkg
# The packages folder can be ignored if you use PackageReference
packages/
# Uncomment if using NuGet.exe
# *.nuget/

# Build results
*.dll
*.exe
*.app
*.log

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/
out/

# Others
*.vspscc
*.vssscc
_ReSharper*/
*.DotSettings.user
.idea/
*.dbmdl
*.pdb

# Rider
*.sln.iml

# Windows image file caches
Thumbs.db
ehthumbs.db

# DotCover
*.dotCover

# Local history for Visual Studio
.localhistory/

# Backup & crash reports
*.bak
*.swp
*.tmp
*.pid